.gray-bg{background:#222; opacity:0.5; filter:alpha(opacity=90); position:absolute; top:0; left:0; *zoom:1; width:100%; height:100%; min-height:740px;}
.dialog{width: 460px; border-radius: 10px; min-height: 200px; _height:200px; border: 1px solid #ddd; position: absolute; top:200px; left: 50%; margin-left: -230px; background: #fefefe;
    box-shadow: 0 0 10px #333;}
.dialog-head{position: relative; padding: 10px; border-bottom: 2px solid #f4f4f4; height: 40px;}
.dia-title{font-size: 16px; font-weight: bold; line-height: 1.5; color: #000;}
.close-ico{position: absolute; top:13px; right: 10px; color: #ff7e00; font-weight: bold; cursor: pointer;
    height: 16px; width: 16px; background: url(../../img/close-ico.png) 0 0 no-repeat; text-indent: -100px; overflow: hidden;}
.close-ico:hover{background-position: 0 -20px;}
.dialog-con{padding: 20px 40px 40px;}
.dia-sub-tip .dia-st-tip,
.dia-form-tip{font-size: 14px; line-height: 1.5; color: #333; margin-bottom: 10px;}

/* 直接弹框提示 */
.dia-sub-tip{text-align: center;}
.dia-sub-tip .dialog-head{display: none;}
.dia-sub-tip .dia-st-tip{margin-bottom: 20px; padding-top: 40px;}

/* 注册　*/
.layout{width: 960px; margin: 0 auto; background: #f9f9f9;}
.header{height:156px;background:#fef9d9 url("http://www.mescake.com/images/bj.jpg") no-repeat; position:relative; }
.head-line{height: 4px; overflow: hidden; background: #2e730f; clear: both;}
.content{min-height: 500px; _height:500px;}
.register-container,
.forget-container{padding: 40px;}
.content-title{font-size: 16px; padding-bottom: 20px;}
.content-title a{color: #333;}
.ct-commit{font-size: 12px; color: #999; font-weight: normal; margin-left: 10px;}
.register-container .global-form-container{width: 500px;}
.register-container .r-con{width: 400px;}
.register-container .big-btn{padding:0 40px;}
.footer{color: #999; font-size: 12px; background: #fff; padding: 20px 0; width:960px; height:auto; margin:0 auto;}
.footer a{color: #999;}

/*地址弹出框*/
#address_dlg label{
    font-weight: normal;
}
.dialog-head{
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin: 15px 30px 0;
    text-align: center;
}
