.single-page{
    background-color: #efefef;
}
.single-page .container form{
    border: 1px solid #ababab;
    margin: 80px auto 180px;
    background-color: #ffffff;
}

.single-page .form-signin-heading{
    margin: 0;
    padding: 0;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e6e6e6;
}
.single-page .form-signin-heading img{
    width: 17px;
    height: 17px;
}
.single-page .form-signin-heading span{
    display: inline-block;
    margin-left: 10px;
}
#login_btn{
    margin-bottom: 15px;
}
#login_register_btn{
    margin-top: 15px;
}
#forgetPsd label,#registerSucStep1 label,#registerSucStep2 label{
    font-weight: normal;
}
#forgetPsd .control-content{
    display: inline-block;
}
#forgetPsd .form-control{
    display: inline-block;
}





