.single-page{
    background-color: #efefef;
}
.single-page .container form{
    border: 1px solid #ababab;
    margin: 80px auto 180px;
    background-color: #ffffff;
}

.single-page .form-signin-heading{
    margin: 0;
    padding: 0;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e6e6e6;
}
.single-page .form-signin-heading img{
    width: 17px;
    height: 17px;
}
.single-page .form-signin-heading span{
    display: inline-block;
    margin-left: 10px;
}

#forgetPsd label,#registerSucStep1 label,#registerSucStep2 label,#register label{
    font-weight: normal;
}
#forgetPsd .control-content{
    display: inline-block;
}
#forgetPsd .form-control{
    display: inline-block;
}

#orderInfo .orderInfo-group{
    margin-left: 30px;
    margin-bottom: 20px;
}
#orderInfo .orderInfo-title{
    margin: 15px 0;
}
#orderInfo .radio.selected{
    background-color: #fff0e8;
    border: 1px solid #f50;
}
#orderInfo .orderInfo-address{
    display: inline-block;
    height: 34px;
    line-height: 34px;
    vertical-align: middle;
}
#orderInfo .orderInfo-address input{
    display: inline-block;
    height: 27px;
    line-height: 34px;
}
#orderInfo table thead th,#orderInfo table tbody td{
    text-align: center;
}
#purchase img{
    margin: 15px;
    cursor: pointer;
}
#purchase img.active{
    border: 1px solid red;
}







