doctype html
html
    head
        title app下载
        meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        include include/loads.jade
    body
        include include/header.jade
        .container(style="margin-top:156px;")
            .row
                .col-md-6
                    img(src="img/app_bg.png")
                .col-md-6(style="margin-top:60px;")
                    div
                        .title
                            img(src="img/app_title.png")
                        h4(style="text-indent:60px;font-weight:bold;margin:30px 0;") 车挣——会挣钱的汽车钱包
                        div(style="float:left;")
                            img(src="img/code.png")
                        div(style="float:left;")
                          div(style="margin-left:15px;")
                            img(src="img/ios.png")
                            p(style="text-indent:5px;") *支持ios6.0及以上系统
                          div(style="margin-left:15px;")
                            img(src="img/android.png")
                            p(style="text-indent:5px;") *支持Android2.2及以上系统
        include include/footer.jade

