doctype html
html
    head
        title app下载
        meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        link(type="text/css",rel="stylesheet",href="./css/app.css")
        link(rel="shortcut icon", type="image/ico", href="./img/favicon.ico")
        link(rel="bookmark", type="image/ico", href="./img/favicon.ico")
    body
        include include/header.jade
        script(src="./script/app.js")
        p hello world
        include include/footer.jade

