doctype html
html
   head
      title 联系我们
      meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      include include/loads.jade
      script(src="http://api.map.baidu.com/api?v=2.0&ak=5exhjUmYYCRAcoCmlgoeCGZw")
   body
      include include/header.jade
      .container(style="margin-top:136px;")
         .row.contacts
            .container-contact
               #allmap1
               p(style="margin:30px auto;font-size:20px;")
                 span(style="margin-left:50px;") 地址：
                   strong 上海市闸北区万荣路1188弄车挣网络科技有限公司
                 span(style="margin-left:100px;") 电话：
                   strong (86)021-60956000-8846
         .row(style="margin-bottom:40px;")
            .col-md-4.text-center(style="padding:0;")
                div(style="background-color:#efefef;height:220px;margin:0 10px 0 0;")
                    .media(style="width:282px;height:155px;margin:auto;padding-top:35px;")
                        .media-left
                            a(href='#')
                                img.media-object(src="img/customer.png")
                        .media-body
                            h4 客服服务
                            p 联系电话：400-034-5858
                            p 微信公众号：小挣
                            p 邮箱：service@ichezheng.com
            .col-md-4.text-center(style="padding:0;")
                div(style="background-color:#efefef;height:220px;margin:0 10px 0 10px;")
                    .media(style="width:282px;height:155px;margin:auto;padding-top:35px;")
                        .media-left
                            a(href='#')
                               img.media-object(src="img/business.png")
                        .media-body
                            h4 商务合作
                            p 联系人：王先生
                            p 联系方式：159-XXXX-XXXX
                            p 邮箱：fei.wang@ichezheng.com
            .col-md-4.text-center(style="padding:0;")
                div(style="background-color:#efefef;height:220px;margin:0 0 0 10px;")
                    .media(style="width:282px;height:155px;margin:auto;padding-top:70px;")
                        .media-left
                            a(href='#')
                               img.media-object(src="img/recruitment.png")
                        .media-body
                            h4 招聘信息
                            p 邮箱：jobs@ichezheng.com
      include include/footer.jade
      script(src="./script/myMap.js")
