doctype html
html
    head
        title 忘记密码页面
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(type="text/css",rel="stylesheet",href="./css/module/singlepage.css")
        include include/loads.jade
        script(src="./script/forgetPsd.js")
    body
        header#top.navbar.navbar-static-top.bs-docs-nav(role="banner",style="height:200px;")
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target=".bs-navbar-collapse")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="index.html") 车挣
                        // img(src="img/logo.png" height="50")
        footer
            .container
                .row
                    .col-md-4.col-xs-12.col-sm-6
                        h4.text-center 关于车挣
                    .col-md-4.col-xs-12.col-sm-6
                        h4.text-center 常见问题
                    .col-md-4.col-xs-12.col-sm-6
                        h4.text-center 客服热线：400-034-5858
                .row.text-center
                    small COPY RIGHT和备案信息
        script(src="./script/common.js")

