doctype html
html
    head
        title 安装说明
        meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        include include/loads.jade
    body
        include include/header.jade
        .container(style="margin-top:156px;")
            .row
                div(style="height:536px;")
                    script(src="http://api.video.taobao.com//video/getPlayerJS")
                    script(src="http://api.video.taobao.com//video/embedVideo?vid=21743509&uid=26724952&tid=1&autoplay=false")
            .row
                .installStep
                    .title 步骤一：安装
                    .body
                        img(src="img/installsim.png" height="402" width="656")
                    .step
                        img(src="img/installno1.png" height="31")
                        span 打开胶塞，安装SIM卡，请注意金属面朝下，缺口朝里（众筹活动此步可跳过）
                    hr
                    .body
                        img(src="img/installlink.png" height="406" width="950")
                    .step
                        img(src="img/installno2.png" height="31")
                        span 连接车挣盒子，并插入车辆OBD口，盒子指示灯将亮起并闪烁。
                        small(style="margin-top:15px;display:block;") 整个初始化过程需要1~3分钟，请耐心等待。
                    .body
                        img(src="img/installobdmap.png" height="439" width="782")
                    .body(style="height:140px;margin:30px auto;")
                        table.table.table-striped.table-bordered.text-center(style="width:780px;margin:50px auto 30px;")
                            tr
                              th(style="color:red;text-align:center;") A区域
                              td 奥迪、丰田、通用、本田等品牌车型
                            tr
                              th(style="color:red;text-align:center;") B区域
                              td 通用、大众、宝马、福特、丰田、现代、雪铁龙、本田等品牌车型
                            tr
                              th(style="color:red;text-align:center;") C区域
                              td 大众途安和进口雷克萨斯等少量车型
                            tr
                              th(style="color:red;text-align:center;") D区域
                              td 标志、雪铁龙、雷诺等车型
                .installStep
                    .title 步骤二：绑定
                    .body(style="width:880px;margin:0 auto;")
                        .body_img
                            img(src="img/installlogin.png")
                        .body_step(style="margin:0 120px 0 120px;")
                            img(src="img/installno3.png" height="31")
                            span 关注公众号：车挣
                    hr
                    .body(style="width:880px;margin:0 auto;")
                        .body_step(style="margin:0 120px 0 120px;")
                            img(src="img/installno4.png" height="31")
                            span 点击“打开车挣”。
                        .body_img
                            img(src="img/installreg.png")
                    hr
                    .body(style="width:880px;margin:0 auto;")
                        .body_img
                            img(src="img/installbc.png")
                        .body_step(style="margin:0 0 0 120px;")
                            img(src="img/installno5.png" height="31" style="margin-top: -80px;")
                            span(style="width:350px;") 绑定：输入车挣盒子背面的IMEI码(也可输入最后4位）和CODE码。
                    hr
                    .body(style="width:880px;margin:0 auto;")
                        .body_step(style="margin:0 120px 0 120px;")
                            img(src="img/installno6.png" height="31")
                            span 匹配您的车型。
                        .body_img
                            img(src="img/installmodel.png")
                    hr
                    p(style="color:red;margin:30px auto;") 注：车辆停靠环境说明：请确保车辆停靠在开阔的环境，尽量避免在地下车库等网络信号较差的环境下。 注册过程中请保持手机打开3G或在WIFI环境下
                .installStep(style="margin-bottom:0;")
                    .title 步骤三：激活
                    .step
                        img(src="img/installno7.png" height="31")
                        span(style="display:inline-block;height:30px;line-height:30px;margin-left:15px;") 等待盒子指示灯稳定在“蓝-红-蓝”状态时，点火启动直至指示灯变成"蓝-蓝-蓝"
                    .body
                        p.text-center(style="font-size:24px;margin-bottom:0;") 指示灯说明
                        img(src="img/installstep3_light.png" height="477" width="904")
                    hr
                    .step
                        img(src="img/installno8.png" height="31")
                        span(style="display:inline-block;height:30px;line-height:30px;margin-left:15px;") 发动车辆并行驶超过1公里，收到“首次行程奖励”，完成激活。
                        small(style="margin-top:15px;display:block;") 激活后，您就可以正常使用车挣。
                    .body(style="background:url('img/installok.png') no-repeat;height:400px;width:260px;margin:60px auto 0;")
            hr(style="margin:0 auto 30px;")
        include include/footer.jade

