doctype html
html
   head
      title 填写订单详情
      meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      link(type="text/css",rel="stylesheet",href="./css/module/banner.css")
      include include/loads.jade
   body
      include include/header.jade
      include include/footer.jade

