doctype html
html
   head
      title 查看订单
      meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      include include/loads.jade
   body
      include include/header.jade
      .container(style="margin-top:136px;margin-bottom:30px;")
         .row(style="padding:30px;font-size:24px;")
            img(src="img/order-logo.png")
            span#check-order-tel 15618735062
         hr(style="margin: 0 15px 30px;")
         .row(style="padding:0 30px;")
            p(style="font-weight:bold;font-size:18px;") 我的订单
            #order-lists
              div(style="border:1px solid #daf3ff;margin-top:15px;")
              div(style="background-color:#eaf8ff;padding:10px 0;")
                span.check-order-order-no(style="margin-left:30px;") 订单号：********
                span.check-order-date(style="margin-left:15px;") 2015年5月11日 10:17
                span.check-order-express.pull-right(style="margin-right:30px;") 中通快递：*******
              table.text-center
                td(style="width:70%;")
                  .media(style="padding:15px;")
                    .media-left
                      a
                        img(src="img/box.png")
                    .media-body
                      h4.media-heading 车挣盒子标准版
                      p 价格 ￥297
                td(style="width:10%;border-left:1px solid #daf3ff;")
                  span(style="padding:15px;display；inline-block;") 等待付款
                td(style="width:10%;border-left:1px solid #daf3ff;")
                  span(style="padding:15px;display；inline-block;") ￥297
                td(style="width:10%;border-left:1px solid #daf3ff;")
                  div(style="padding:15px;")
                    button(type="button" class="btn btn-primary") 立即付款
                    button(type="button" class="btn btn-link btn-default") 取消订单
            div(style="border:1px solid #daf3ff;margin-top:15px;")
              div(style="background-color:#eaf8ff;padding:10px 0;")
                span.check-order-order-no(style="margin-left:30px;") 订单号：********
                span.check-order-date(style="margin-left:15px;") 2015年5月11日 10:17
                span.check-order-express.pull-right(style="margin-right:30px;") 中通快递：*******
              table.text-center
                td(style="width:70%;")
                   .media(style="padding:15px;")
                      .media-left
                         a
                           img(src="img/box.png")
                      .media-body
                         h4.media-heading 车挣盒子标准版
                         p 价格 ￥297
                td(style="width:10%;border-left:1px solid #daf3ff;")
                   span(style="padding:15px;display；inline-block;") 等待付款
                td(style="width:10%;border-left:1px solid #daf3ff;")
                   span(style="padding:15px;display；inline-block;") ￥297
                td(style="width:10%;border-left:1px solid #daf3ff;")
                   div(style="padding:15px;")
                      button(type="button" class="btn btn-primary") 立即付款
                      button(type="button" class="btn btn-link btn-default") 取消订单
            div(style="border:1px solid #daf3ff;margin-top:15px;")
              div(style="background-color:#eaf8ff;padding:10px 0;")
                 span.check-order-order-no(style="margin-left:30px;") 订单号：********
                 span.check-order-date(style="margin-left:15px;") 2015年5月11日 10:17
                 span.check-order-express.pull-right(style="margin-right:30px;") 中通快递：*******
              table.text-center
                 td(style="width:70%;")
                   .media(style="padding:15px;")
                      .media-left
                         a
                            img(src="img/box.png")
                      .media-body
                         h4.media-heading 车挣盒子标准版
                         p 价格 ￥297
                 td(style="width:10%;border-left:1px solid #daf3ff;")
                   span(style="padding:15px;display；inline-block;") 等待付款
                 td(style="width:10%;border-left:1px solid #daf3ff;")
                   span(style="padding:15px;display；inline-block;") ￥297
                 td(style="width:10%;border-left:1px solid #daf3ff;")
                   div(style="padding:15px;")
                     button(type="button" class="btn btn-primary") 立即付款
                     button(type="button" class="btn btn-link btn-default") 取消订单
            nav
              #order-pagination.pagination.pull-right
                  li
                    a(href="#" aria-label="Previous")
                      span(aria-hidden="true") &laquo;
                  li
                    a(href="#")
                      span 1
                  li
                    a(href="#")
                      span 2
                  li
                    a(href="#")
                      span 3
                  li(href="#" aria-label="Next")
                    a(href="#")
                      span(aria-hidden="true") &raquo;
            hr(style="margin:75px 0 0;")
            div(style="margin:30px 0;")
              div(style="margin:30px 0;")
                span(style="font-weight:bold;font-size:18px;margin-bottom:10px;display:inline-block;") 我的地址
                span.pull-right
                  button#check-order-add-address(type="button" class="btn btn-link") 新增地址
              div#check-order-address-lists(style="margin-bottom:30px;")
                div.check-order-list.default(data-id="")
                  p 上海市 上海市 （史星收）
                  hr(style="margin-top: 10px;margin-bottom: 10px;")
                  small 闸北区 万荣路1188弄G栋201 1567777777
                  div(style="margin:15px 0;")
                    a(type="button" class="btn btn-link check-order-address-edit" style="padding: 0;") 编辑
                    a(type="button" class="btn btn-link check-order-address-delete" style="padding: 0;margin-left:15px;") 删除
                div.check-order-list
                  p 上海市 上海市 （史星收）
                  hr(style="margin-top: 10px;margin-bottom: 10px;")
                  small 闸北区 万荣路1188弄G栋201 1567777777
                  div(style="margin:15px 0;")
                    a(type="button" class="btn btn-link check-order-address-edit" style="padding: 0;") 编辑
                    a(type="button" class="btn btn-link check-order-address-delete" style="padding: 0;margin-left:15px;") 删除
                div.check-order-list
                      p 上海市 上海市 （史星收）
                      hr(style="margin-top: 10px;margin-bottom: 10px;")
                      small 闸北区 万荣路1188弄G栋201 1567777777
                      div(style="margin:15px 0;")
                        a(type="button" class="btn btn-link check-order-address-edit" style="padding: 0;") 编辑
                        a(type="button" class="btn btn-link check-order-address-delete" style="padding: 0;margin-left:15px;") 删除
                div.check-order-list
                      p 上海市 上海市 （史星收）
                      hr(style="margin-top: 10px;margin-bottom: 10px;")
                      small 闸北区 万荣路1188弄G栋201 1567777777
                      div(style="margin:15px 0;")
                        a(type="button" class="btn btn-link check-order-address-edit" style="padding: 0;") 编辑
                        a(type="button" class="btn btn-link check-order-address-delete" style="padding: 0;margin-left:15px;") 删除
                div.check-order-list
                      p 上海市 上海市 （史星收）
                      hr(style="margin-top: 10px;margin-bottom: 10px;")
                      small 闸北区 万荣路1188弄G栋201 1567777777
                      div(style="margin:15px 0;")
                        a(type="button" class="btn btn-link check-order-address-edit" style="padding: 0;") 编辑
                        a(type="button" class="btn btn-link check-order-address-delete" style="padding: 0;margin-left:15px;") 删除
      include include/footer.jade