doctype html
html
   head
      title 订单成功
      meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      include include/loads.jade
   body
      include include/header.jade
      .container(style="margin-top:136px;margin-bottom:40px;")
         .row(style="border:1px solid #acacac;")
            div(style="margin:30px;margin-left:60px;")
               img(src="img/ok.png")
               span(style="margin-left:15px;font-size:24px;") 订单提交成功！请付款
               span#order-success-prices(style="color:red;")
            hr(style="margin:5px 30px;")
            div(style="margin:30px;margin-left:60px;")
               div(style="margin-left:70px;margin-bottom:15px;")
                 span#order-success-orderNo 订单编号：**********
                 button.pull-right#check-order-lists(type="button" class="btn btn-link") 查看订单
               div(style="margin-left:70px;margin-bottom:15px;")
                 p#order-success-delivery-address 配送地址：**********
               button(type="button" class="btn btn-primary" style="margin-left:70px;") 付款成功后，七天内发货
         .row(style="margin-top:30px;")
            div.pull-right
               button#order-success-change-order(type="button" class="btn btn-primary") 修改订单
               button#order-success-pay(type="button" class="btn btn-primary" style="margin-left:15px;") 马上付款
      include include/footer.jade