doctype html
html
   head
      title 选择车型
      meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      include include/loads.jade
   body
      include include/header.jade
      .container(style="margin-top:136px;margin-bottom:40px;")
        #select-model-details 请选择车型
        .row#select-brand-lists
        .row
           button#select-model-next(type="button" class="btn btn-primary pull-right") 下一步
      include include/footer.jade
