doctype html
html
   head
      title 定点门店
      meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      include include/loads.jade
      script(src="http://api.map.baidu.com/api?v=2.0&ak=DzKqDCfgIsiIEm3rYt5YQIMF")
   body
      include include/header.jade
      .container(style="margin-top:136px;margin-bottom:40px;")
         .row
            select#province-store.store-select
               option 111
               option 222
               option 333
            select#city-store.store-select
               option 111
               option 222
               option 333
            select#county-store.store-select
               option 111
               option 222
               option 333
            button#search-store(type="button" class="btn btn-primary") 查询
         .row
            p(style="background-color:#efefef;")
         .row
            .col-md-3
               .media
                   .media-left
                      a(href="#")
                      | 1
                   .media-body
                      h4.media-heading 北城特许TD专营厅销售点
                      p 合肥市长丰县双墩镇北城世纪城移动北城特许TD专营店
               .media
                   .media-left
                      a(href="#")
                      | 2
                   .media-body
                      h4.media-heading 北城特许TD专营厅销售点
                      p 合肥市长丰县双墩镇北城世纪城移动北城特许TD专营店
               .media
                   .media-left
                      a(href="#")
                      | 3
                   .media-body
                      h4.media-heading 北城特许TD专营厅销售点
                      p 合肥市长丰县双墩镇北城世纪城移动北城特许TD专营店
            .col-md-9
               #allmap2
      include include/footer.jade
      script(src="./script/myMap.js")