footer
    .container
        .row(style="margin-top: 80px;")
            .col-md-3.col-xs-12.col-sm-6
                h3.text-center 关于我们
                p.text-center 关于车挣
                p.text-center
                  a(href="contact.html" target="_blank") 联系我们
                p.text-center
                    a(href="http://www.lagou.com/gongsi/54466.html" target="_blank") 加入车挣
            .col-md-3.col-xs-12.col-sm-6
                h3.text-center 帮助中心
                p.text-center
                  a(href="question.html" target="_blank") 常见问题
                p.text-center
                  a(href="store.html" target="_blank") 定点门店
            .col-md-3.col-xs-12.col-sm-6
                h3.text-center 关注我们
                p.text-center
                  a(href="http://weibo.com/5236479534/BFnwdpEGr?sudaref=login.sina.com.cn&type=comment#_rnd1431412480277" target="_blank") 新浪微博
                p.text-center
                  a#offical-wechart(href="#") 官方微信
                div#offical-wechart-code(style="display:none;z-index:1030;position:relative;right:0;")
                  img(src="img/code.png")
            .col-md-3.col-xs-12.col-sm-6
                h3.text-center 400-034-5858
                p.text-center 周一至周日 9:00-21:00
                p.text-center
                    button 免费拨打
        .row.text-center(style="margin-top: 180px;margin-bottom:50px;")
            div
              img(src="img/icon.png")
            small CopyRight &copy; 2013-2015 CHEZHENG Corporation,All Right Reserved
script(src="./script/common.js")
