link(href="./css/include/footer.css")
footer
   .section.bg-nr-red-1
      .container
         .footer-col
            h4 Product
            ul.list-unstyled
               li
                  a(href="/products") New Relic Product Suite
               li
                  a(href="/application-monitoring") New Relic APM
               li
                  a(href="/insights") New Relic INSIGHTS
         .footer-col
            h4 Support
            ul.list-unstyled
               li
                  a(href="http://status.newrelic.com") New Relic Status
               li
                  a(href="https://docs.newrelic.com") Documentation
               li
                  a(href="https://discuss.newrelic.com") Community Forum
         .footer-col
            ul.list-unstyled
               h4 About
               li
                  a(href="/about") Overview
               li
                  a(href="/about/leadership") Leadership
               li.SL_hide
                  a(href="/about/newsroom") Newsroom
         .clearfix
