header#header.navbar.navbar-default.navbar-fixed-top.bs-docs-nav(role="banner")
    .container
        .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target=".bs-navbar-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a#brand(href="index.html" style="background: url('img/logo.png') 0 no-repeat")
        nav.collapse.navbar-collapse.bs-navbar-collapse(role="navigation")
            ul.nav.navbar-nav.navbar
                li.active
                    a(track="index", href="index.html") 首页
                li
                    a(track="carlist", href="carlist.html") 适配车型
                li
                    a(track="install", href="install.html") 安装说明
                li
                    a(track="app", href="app.html") App下载
            ul#buttons-menu.nav.navbar-nav.navbar-right
                li
                    a.btn.btn-secondary.navbar-btn(id="header-login-btn" href="login.html", track="login in") 登录
                li
                    a.btn.btn-register.navbar-btn(id="header-register-btn" href="register.html", track="sign up") 注册
