link(rel="shortcut icon", type="image/ico", href="./img/favicon.ico")
link(rel="bookmark", type="image/ico", href="./img/favicon.ico")
link(type="text/css",rel="stylesheet",href="./css/include/reset.css")
link(type="text/css",rel="stylesheet",href="./css/bootstrap.css")
link(type="text/css",rel="stylesheet",href="./css/module/dialog.css")
link(type="text/css",rel="stylesheet",href="./css/include/header.css")
link(type="text/css",rel="stylesheet",href="./css/include/footer.css")
link(type="text/css",rel="stylesheet",href="./css/common.css")
link(type="text/css",rel="stylesheet",href="./css/module/singlepage.css")
//script(src="./script/require.js")
script(data-main="common.js" src="./script/require.js")
script(src="./script/respond.min.js")
script(src="./script/html5shiv.min.js")

