link(rel="shortcut icon", type="image/ico", href="./img/favicon.ico")
link(rel="bookmark", type="image/ico", href="./img/favicon.ico")
link(type="text/css",rel="stylesheet",href="./css/bootstrap.min.css")
link(type="text/css",rel="stylesheet",href="./css/carcare.min.css")
script(src="./script/jquery.min.js")
script(data-main="./script/common.js" src="./script/require.min.js")
script(src="./script/bootstrap.min.js")
script(src="./script/respond.min.js")
script(src="./script/html5shiv.min.js")


