#header{
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
    font-size: 22px;
    font-weight: bold;
}
.navbar{
    margin-bottom: 0;
}
.navbar-default {
    background: rgba(23, 31, 39, 0.95);
    border: 0 none;
    box-shadow: none !important;
}
.navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
    opacity: .97;
}
#brand {
    height: 96px;
    width: 144px;
    padding: 20px 18px 20px 1px;
    display: block;
    background: url(../../img/logo.png) 0 no-repeat;
    background-size: auto 56px;
}
.navbar-default .navbar-collapse {
    background: none;
    box-shadow: none;
}
nav .navbar-nav.navbar {
    cursor: pointer !important;
}
.navbar-nav {
    top: 22px;
    left: 30px;
}
.active {
    color: #f27527;
}
.navbar-default .navbar-nav.navbar > .active > a {
    background: transparent;
    color: #41aaec;
}
.navbar-default .navbar-nav.navbar > li > a:hover, .navbar-default .navbar-nav.navbar > .active > a {
    border-bottom: 4px solid #41aaec;
    padding-bottom: 20px;
}
.navbar-default .navbar-nav.navbar > li > a, .navbar-default .navbar-nav.navbar.navbar-right > li > a, #login {
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    height: 74px;
}
.navbar-default .navbar-nav > li > a.btn-secondary {
    color: #000 !important;
    text-shadow: none;
    /*border-color: rgba(255, 255, 255, 0.25) !important;*/
    box-shadow: none;
    transition: all 0.05s ease-in-out;
    background: none !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    /*border-radius: 20px;*/
    margin-top: 26px;
    line-height: 13px !important;
    padding: 10px 5px;
}
.navbar-default .navbar-nav > li > a.btn-register{
    transition: all 0.05s ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    /*border-radius: 20px;*/
    margin-top: 26px;
    line-height: 13px !important;
    padding: 10px 5px;
}
